@keyframes preloader__item {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5, 1.5);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
.preloader__item div > div {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ff83dc;
  animation: preloader__item 1s linear infinite;
}
.preloader__item div:nth-child(1) > div {
  left: 81px;
  top: 43px;
  animation-delay: -0.875s;
}
.preloader__item > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 88px 50px;
}
.preloader__item div:nth-child(2) > div {
  left: 70px;
  top: 70px;
  animation-delay: -0.75s;
}
.preloader__item > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 77px 77px;
}
.preloader__item div:nth-child(3) > div {
  left: 43px;
  top: 81px;
  animation-delay: -0.625s;
}
.preloader__item > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 50px 88px;
}
.preloader__item div:nth-child(4) > div {
  left: 16px;
  top: 70px;
  animation-delay: -0.5s;
}
.preloader__item > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 23px 77px;
}
.preloader__item div:nth-child(5) > div {
  left: 5px;
  top: 43px;
  animation-delay: -0.375s;
}
.preloader__item > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 12px 50px;
}
.preloader__item div:nth-child(6) > div {
  left: 16px;
  top: 16px;
  animation-delay: -0.25s;
}
.preloader__item > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 23px 23px;
}
.preloader__item div:nth-child(7) > div {
  left: 43px;
  top: 5px;
  animation-delay: -0.125s;
}
.preloader__item > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 50px 12px;
}
.preloader__item div:nth-child(8) > div {
  left: 70px;
  top: 16px;
  animation-delay: 0s;
}
.preloader__item > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 77px 23px;
}

.preloader {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-top: 20px;
  background: #eaecee;
  position: relative;
}

.preloader__item {
  display: block;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 39%;
  left: 47%;
  transform: translateX(-72%) translateY(-80%);
  backface-visibility: hidden;
}
.preloader__item div {
  box-sizing: content-box;
}
