.salons {
  width: 560px;
  margin: 0 auto;
  height: var(--container-height);
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.salons__link {
  color: #1c1c1c;
  text-decoration: none;
}

.salons__block {
  background-color: #f8f8f8;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.salons__header-container {
  background-color: #ff83dc;
  height: 50px;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.salons__header {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: var(--header-fs);
  color: var(--header-color);
  width: 100%;
  text-align: center;
  background-color: #ff83dc;
}

.salons__container {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.salons__list {
  margin: 0;
  padding: 0;
  width: 400px;
}

.salons__item {
  list-style: none;
  text-align: start;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  border-bottom: 2px solid #eee;
  font-weight: 300;
}

.notfound {
  background-color: #ffe6ef;
  width: 50%;
  margin: 0 auto;
}

.salons__card {
  color: #1c1c1c;
  text-decoration: none;
  font-size: 23px;
  padding: 7px 15px 7px 15px;
}
