.appointmentcalendar {
  width: 560px;
  margin: 0 auto;
  height: var(--container-height);
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.appointmentcalendar__container {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  height: var(--container-height);
  box-sizing: border-box;
  position: relative;
}

.appointmentcalendar__header-container {
  background-color: #ff83dc;
  height: 50px;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appointmentcalendar__header {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: var(--header-fs);
  color: var(--header-color);
  width: 100%;
  text-align: center;
  background-color: #ff83dc;
}

.appointmentcalendar__component {
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 25px;
}

/* .avaliable-day {
  background-color: #ffaaaa;
}
.unavailable-day {
  background-color: #318a34;
} */
/* .avaliable {
  background-color: #93ec96;
}

.not-avaliable {
  background-color: #ffaaaa;
} */

/* .react-calendar__tile:disabled {
  background-color: rgb(243, 139, 139);
} */
