.review {
  width: 560px;
}

.review__header {
  text-align: center;
}

.review__block {
  height: 654px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d0d0d0;
  position: relative;
}

.reviews__list {
  margin: 0 auto;
  padding: 0;
  overflow-y: auto;
  height: 420px;
}

.review-card {
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #1c1c1c;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-right: 20px;
}

.review__item {
  background-color: #f8f8f8;
  text-align: start;
  padding: 0;
  margin: 0;
  padding: 5px 10px 5px 20px;
  font-weight: 300;
  font-size: 20px;
}
.review__item-header {
  font-weight: 600;
  font-size: 22px;
}
.review__bold-item {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
