.left-arrow-button {
  margin: 0 auto;
  padding: 0;
  border: none;
  border-radius: 10px;
  padding: 3px 0px;
  transition: 0.5s ease-in-out;
  position: absolute;
  background-color: #f8f8f8;
  bottom: 10px;
  left: 10px;
}

.back-button-link:hover {
  opacity: 0.8;
}

.back-button {
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.arrow-image {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}
