.left-arrow-button {
  margin: 0 auto;
  padding: 0;
  border: none;
  border-radius: 10px;
  padding: 3px 0px;
  position: absolute;
  background-color: #f8f8f8;
  bottom: 10px;
  left: 10px;
}

.left-arrow-button:hover {
  transition: 0.3s ease-in-out;
}

.back-button {
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.arrow-svg {
  width: 45px;
  height: 45px;
}

.left-arrow-button:hover .arrow-svg path {
  fill: grey;
  transition: 0.3s ease-in-out;
}
