.cancel-button {
  width: 100px;
  padding: 5px;
  color: #1c1c1c;
  background-color: #ff83dc;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 3px #1c1c1c);
  transition: 0.5s ease-in-out;
}

.cancel-button:hover {
  opacity: 0.8;
}
