.main {
  width: 560px;
  margin: 90px auto;
  position: relative;
}

.main__block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 547px;
}

.main__buttons-container {
  bottom: 20px;
  margin-top: 50px;
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
}

.main__central-button-block {
  display: flex;
  justify-content: center;
}

.main__bottom-buttons-block {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}
