.main {
  width: 560px;
  margin: 0 auto;
  position: relative;
}

.main__block {
  display: flex;
}

.main__navbar {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
  /* filter: drop-shadow(2px 2px 3px #1c1c1c); */
}
