.about {
  width: 500px;
  margin: 0 auto;
  height: 597px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__block {
}

.about__info {
  padding: 15px;
  border-radius: 10px;
  font-weight: 500;
  border-color: #ff83dc;
  border-style: solid;
  font-size: 20px;
}
