.main {
  width: 560px;
  margin: 90px auto;
  position: relative;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 547px;
}

.inner-container {
  margin-top: 50px;
}

.main__links-block {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.main__links-item {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  transition: 0.4s ease-out;
  border-radius: 10px;
}

.main__links-item:hover {
  background: #f8f8f8;
  opacity: 0.7;
}

.main__button {
  margin: 0 auto;
  padding: 8px;
  border-radius: 20px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  border: none;
  background: #ff83dc;
  text-decoration: none;
  color: #1c1c1c;
  font-weight: 600;
  transition: 0.4s ease-in-out;
}

.main__link-round:hover {
  opacity: 0.8;
}

.main__link {
  display: block;
  margin: 0 auto;
  text-align: center;
  list-style-type: none;
  width: 90%;
  cursor: pointer;
  padding: 7px;
  border: none;
  background-color: #ff83dc;
  border-radius: 20px;
  text-decoration: none;
  color: #1c1c1c;
  font-weight: 600;
}

.main__links {
  margin: 0;
  padding: 0;
}
