.newappoitment {
  padding-top: 10px;
  width: 560px;
  margin: 20px auto 0;
}

.newappoitment__header {
  margin: 0;
  font-weight: 600;
  font-size: 27px;
  color: #1c1c1c;
  padding: 100px 0 50px 0;
  text-align: center;
}
.newappoitment__button-submit {
  margin: 200px auto;
  display: block;
  width: 40%;
  color: #fff;
  cursor: pointer;
  border: none;
  background: #ff83dc;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s ease-out;
  padding: 13px 0px;
  opacity: 1;
  font-size: 15px;
}

.newappoitment__button-submit:hover {
  opacity: 0.7;
}
