.phone_paragraph {
  margin: 0;
  margin-top: 25px;
  color: black;
}

.container-input-phone {
  padding-top: 10px;
}

.editing-input-phone {
  border: none;
  border-bottom: 1px solid #1c1c1c;
  outline: none;
  padding-bottom: 5px;
  width: 100%;
}
.editing-input-phone:focus::after {
  content: '';
  display: block;
  border-bottom: 2px solid #1c1c1c;
}

.invalid-phone:focus::after {
  content: '';
  display: block;
  border-bottom: 2px solid red;
}
.error-message {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: red;
}

.edit-container-phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.edit-container-phone:hover:after {
  cursor: pointer;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.edit-icon-image {
  width: 21px;
  height: 21px;
  background-color: white;
  cursor: pointer;
  padding-top: 23px;
}

.edit-icon {
  padding: 0;
  margin: 0;
  background-color: white;
  border: none;
}
