.edit-icon-image {
  width: 21px;
  height: 21px;
  background-color: var(--block-color);
  padding-top: 23px;
}

.edit-icon {
  padding: 0;
  margin: 0;
  background-color: var(--block-color);
  transition: 0.5s ease-in-out;
  border: none;
}
.edit-icon:hover {
  cursor: pointer;
}
