.main__button-link {
  display: inline-block;
  text-align: center;
  padding: 0;
  color: #f8f8f8;
  border: none;
  padding: 3px 40px 3px 40px;
  /* filter: drop-shadow(3px 3px 4px #1c1c1c); */
  transition: 0.5s ease-in-out;
}

.main__button-link:hover {
  opacity: 0.8;
}

.main__button {
  color: #f8f8f8;
  text-decoration: none;
  background-color: #1c1c1c;
  border: none;
  font-weight: 300;
  font-size: 18px;
  cursor: pointer;
}

.inactive {
  /* background-color: #f8f8f8; */
  /* color: #1c1c1c; */
  cursor: not-allowed;
}

.inactive .main__button {
  /* background-color: #f8f8f8; */
  /* color: #1c1c1c; */
  cursor: not-allowed;
}

/* Стили для подсказки */
.react-tooltip {
  font-size: 15px;
  font-weight: 300;
  padding: 8px 12px;
  border-radius: 4px;
  color: red;
  background-color: #961212;
}

.react-tooltip:after {
  border-top-color: #1c1c1c;
}

.mainbutton__icon {
  width: 32px;
  height: 32px;
  transition: 0.3s ease-in-out;
}
.mainbutton__icon:hover {
  transform: scale(1.05);
  cursor: pointer;
}
