.header {
  /* background-color: var(--block-color); */
  background: url(../../../images/header.png);
  object-fit: contain;
  height: 230px;
  width: 560px;
  background-size: 100% 100%;
  aspect-ratio: 16/9;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header__logo-box {
  width: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main__account-link {
  display: flex;
  position: absolute;
  justify-content: center;
  gap: 7px;
  text-decoration: none;
  color: #1c1c1c;
  font-size: 13px;
  line-height: 0.9;
  top: 48px;
  right: 1px;
}

.header__logo {
  width: 55px;
  height: 55px;
  transform: rotateZ(10deg);
  z-index: 100;
}

.header__text {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: 600;
  color: var(--header-color);
  position: absolute;
  left: 47px;
  top: 10px;
}

.langbox {
  display: flex;
  width: 90px;
  flex-direction: row;
  border-radius: 10px;
  position: absolute;
  left: 4%;
  top: 4%;
}

.lang__button_eng {
  padding: 0;
  margin: 0;
  width: 48px;
  border: none;
  border-radius: 10px;
  height: 40px;
  color: #7e7e80;
  font-size: 17px;
  background-color: white;
  transition: 0.3s ease-out;
  border-right: 1px solid #7e7e80;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
}

.lang__button_eng.active {
  font-weight: 600;
  color: #3a3a3a;
  cursor: default;
}

.lang__button_ru {
  padding: 0;
  margin: 0;
  width: 48px;
  border-radius: 10px;
  font-size: 17px;
  color: #7e7e80;
  border: none;
  height: 40px;
  background-color: white;
  transition: 0.4s ease-out;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
}

.lang__button_ru.active {
  font-weight: 600;
  color: #3a3a3a;
  cursor: default;
}

.lang__button_ru:hover {
  color: #ff83dc;
  transition: 0.4s ease-out;
}

.lang__button_eng:hover {
  color: #ff83dc;
  transition: 0.4s ease-out;
}

.lang__button_eng.active:hover {
  cursor: default;
  color: #3a3a3a;
  transition: 0.4s ease-out;
}

.lang__button_ru.active:hover {
  cursor: default;
  color: #3a3a3a;
  transition: 0.4s ease-out;
}

.lang__button_eng:hover {
  cursor: pointer;
  transition: 0.4s ease-out;
}

.lang__button_ru:hover {
  cursor: pointer;
  transition: 0.4s ease-out;
}

.header__link-to-profile {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  align-self: center;
  background-position: center;
  background-image: url(../../../images/account.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #f8f8f8;
  position: absolute;
  right: 4%;
  top: 4%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.55);
  transition: 0.5s ease-in-out;
}

.header__link-to-profile:hover {
  transform: scale(1.08);
  cursor: pointer;
}
