.container-input-name {
  padding-top: 10px;
  width: 100%;
}

.container-input-name {
  padding-top: 10px;
}

.editing-input-name {
  border: none;
  border-bottom: 1px solid #1c1c1c;
  outline: none;
  padding-bottom: 5px;
  width: 100%;
}
.editing-input-name:focus::after {
  content: '';
  display: block;
  border-bottom: 2px solid #1c1c1c;
}

.invalid-name:focus::after {
  content: '';
  display: block;
  border-bottom: 2px solid red;
}
.error-message {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: red;
}

.edit-container-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.edit-container-name:hover:after {
  cursor: pointer;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.name_paragraph {
  margin: 0;
  margin-top: 25px;
  color: black;
  position: relative;
}

.profile__block-buttons {
  margin: 0 auto;
  display: flex;
  width: 200px;
  justify-content: center;
  margin-top: 10px;
}
