@import url(./vendors/fonts/fonts.css);

body {
  margin: 0 auto;
  height: 597px;
  font-family: 'OpenSans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
  font-size: 18px;
  --rt-color-white: #f8f8f8;
  --rt-color-dark: #1c1c1c;
  --rt-color-success: #8dc572;
  --rt-color-error: #be6464;
  --rt-color-warning: #f0ad4e;
  --rt-color-info: #337ab7;
  --rt-opacity: 0.9;
  --rt-transition-show-delay: 0.25s;
  --rt-transition-closing-delay: 0.25s;

  /* --swiper-theme-color: #1c1c1c; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
