@import url(./vendors/fonts/fonts.css);

body {
  margin: 0 auto;
  height: 597px;
  font-family: 'OpenSans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
  font-size: 18px;

  /* --swiper-theme-color: #1c1c1c; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
