.auth__input {
  margin-top: 15px;
}

.id_paragraph {
  margin: 0;
  margin-top: 25px;
  color: black;
}

.userprofile {
  width: 100%;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  z-index: 100;
  visibility: hidden;
  transition: visibility 0.4s, opacity 0.4s linear;
  opacity: 0;
}

.userprofile_opened {
  visibility: visible;
  opacity: 1;
}

.userprofile__container {
  margin-top: 90px;
  width: 560px;
  height: 597px;
  position: relative;
  background: #ffffff;
  box-shadow: 10px 10px 80px rgba(115, 113, 224, 0.3);
  border-radius: 20px;
}

.userprofile__form {
  margin: 0 auto;
  margin-top: 30px;
  box-sizing: border-box;
  padding-left: 35px;
  padding-right: 35px;
  background: #ffffff;
  border-radius: 10%;
  width: 430px;
}

.edit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.edit-container:hover:after {
  cursor: pointer;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.preprofile__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  box-sizing: border-box;
}

.userprofile__header {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  color: #000000;
}

.profile__back-button {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  width: 250px;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: #f8f8f8;
  border: none;
  background: #1c1c1c;
  border-radius: 13px;
  font-weight: 300;
  font-size: 22px;
  transition: 0.5s ease-in-out;
  padding: 13px 0px;
  text-decoration: none;
  filter: drop-shadow(3px 3px 4px #1c1c1c);
}

.profile__back-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
